@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: silver; 
  }

  
/*  bootstrap classe edited */
.fluid-container .row .fluid-container{
  margin: 0px !important;
}


/*   my classes  */

.loadingBackground{
  position:fixed;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.3);
  cursor:wait;

}
.loading{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
a:hover{
    color:black !important;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button:focus {
  outline: none !important;
}
/* error hide in nextjs */
/* nextjs-portal {
  display: none;
} */