@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: silver; 
  }

  
/*  bootstrap classe edited */
.fluid-container .row .fluid-container{
  margin: 0px !important;
}


/*   my classes  */

.loading{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
a:hover{
    color:black !important;
}
